.toolbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #7395AE;
  height: 80px;
}

.toolbar__navigation {
  display: flex;
  align-items: baseline;
  padding: 0 3.5em;
}

.toolbar__logo {
  margin-left: 1em;
  font-family: Akura Popo;
  /*font-family: "Berlin Sans FB"*/;
  /*font-family: Garamond;*/
  /*font-family: "Bodoni MT";*/
}

.toolbar__logo a {
  text-decoration: none;
  font-size: 2.5em;
  color: white;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li {
  padding: 0 0.5em;
  font-size: 1em;
  a {
    color: white;
  }
}

.toolbar_navigation-items a {
  text-decoration: none;
}
.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
  color: #379683;
}

@media (max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar__toggle-button {
    display: none;
  }

  .toolbar__logo {
    margin-left: 0;
  }
}

.quick-contact-info {
  display: flex;
  margin: 0 0 0 0;
  padding-top: 0.5em;
  background-color: #557A95;
  .quick-contact-info-items {
    padding: 0em 1.5em 0.5em;
    display: flex;
    font-size: 0.9em;
  }
}

.text {
  color: white;
}

#phone-number {
  margin-left: 0.5em;
}

#e-mail-address {
  margin-left: 0.5em;
}