.business_card {
  fontSize: 1.5em;
  background-color: rebeccapurple;
}

.business_card p {
  color: #051620;
}

.business_card_title {
  font-weight: bold;
  font-size: 1em;
}

#team_section {
  height: 50px;
  width: 100%;
  background-color: aquamarine;
}